@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f0f8ff;
}

/* Masonry CSS */
.my-masonry-grid {
  display: flex;
  margin-left: -15px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 15px;
}
