@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "DotGothic16", "Jersey10", sans-serif;
  /* background-color: #f0f8ff; */
  background-color: #f3f3f3;
  /* background-color: #2f3f4f; */
}

/* Masonry CSS */
.my-masonry-grid {
  display: flex;
  margin-left: -15px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 15px;
}

.optimized-animation {
  transform: translateZ(0);
}
